@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-color-main: #D91A7C;
  --color-color-jet-black: #0A0A0A;
  --color-color-darkGray: #2e3944;
  --color-color-lightGray: #d3d9d4;
  --color-color-green: #124e66;
  --color-color-lightGreen: #748d92;

  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", system-ui, -apple-system, sans-serif;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}